@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins",sans-serif;
}
header{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    position: sticky;
    top:0px;
    z-index: 1;
}
header>div>ul{
    display: flex;
    gap: 5px;
    font-size:x-small;
}
header>div>ul>li{
    list-style: none; 
}
header>div>ul>li>a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .5s ease;
}
header>div>ul>li>a:hover{
    background-color: #333;
}
#header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left:80px;
}
#header-left>ul{
    display: flex;
    gap: 20px;
}
#header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-right: 80px;
}
#header-right>button{
    padding: 6px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 0.8rem;
}
#header-right>button:hover{
    background-color: #dcdcdc;
    transition: .3s ease;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 50px;
}
nav>h1{
    margin-left: 75px;
    font-size: 1.2rem;
}
nav>h1:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 50%;
    padding: 8px 0px;
}
nav>ul{
    display: flex;
    gap: 20px;
    margin-right: 80px;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    font-size:xx-small;
    color: #6B6B6B;
}
nav>ul>li>a:hover{
    color: black;
    transition: .4s ease;
}
#hero-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width:100vw;
}
#hero-section>div>p>span>a{
    color: black;
}
#hero-section>div>p>span>a:hover{
    background-color: #eeeeee;
    border-radius: 20px;
}
#hero-section>div>h1{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 64px;
}
.hero-box{
    width:30%;
}
#hero-section-left{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#hero-section-right{
    margin-right: 140px;
    margin-top: 40px;
}
#hero-section-left>p>span{
    margin-right: 10px;
}
#hero-section-left>p{
    font-size: 0.25rem;
}
#hero-section-left>div>div>input{
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 30px;
    border-style: none;
    background-color: #f1f1f1;
}
.hero-location{
    position: relative;
    top: 0px;
}
.mid-hero{
    width: 0px;
    height: 75px;
    border: .5px solid black;
    position: absolute;
    top: 60px;
    left: 23px;
    z-index: 1;
}
.pickup-hero,.dropoff-hero{
    position: relative;
    top: 0px;
}
.pickup-sp{
    position: absolute;
    top: 40px;
    left: 14px;
}
.pick-arrow{
    position: absolute;
    top: 40px;
    left: 370px;
}
.btn{
    padding: 12px 24px;
    border-radius: 10px;
    border-style: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
}
.primary-button{
    background-color: black;
    color: #ffffff;
}
.second-button{
    color: black;
}
#sug-section{
    display: flex;
    margin-top: 50px;
    margin-left: 130px;
}
#sug-section>div{
    width: 90vw;
    margin: auto;
}
.sug-box{
    width: 350px;
    height: 130px;
    background-color: rgb(242, 242, 242);
    display: flex;
    padding: 16px;
    border-radius: 6px;
}
#sub-super-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.sug-box>div>h3{
    font-size: 15px;
    font-weight: 500;
}
.sug-box>div>p{
    font-size: 8px;
}
.sug-box>div>button{
    margin-top: 10px;
    padding: 5px 8px;
    border-style: none;
    background-color: #ffffff;
    border-radius: 20px;
}
.sug-box>div>button:hover{
    background-color: #F3F3F3;
    transition: .3s ease;
}
.sug-box>div>img{
    width: 120px;
    height: 100px;
}
#plan-section{
    margin-top: 40px;
    margin-left: 130px;
}
#plan-main{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.bottom-main-plan{
    display: flex;
    align-items: center;
    gap: 30px;
}
.left-plan{
    display: flex;
    width: 60%;
    height: 400px;
    background-color: #9dcdd6;
    border-radius: 20px;
    position: relative;
    top: 0px;
}
.left-sub-plan{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.left-plan>img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.left-sub-plan>h1{
    font-size: 35px;
    font-weight: 600;
    margin: auto;
}
.time-date-plan{
    display: flex;
    gap: 20px;
}
.time-date-plan>div>input{
    padding: 8px 20px;
}
.right-plan{
    width: 25%;
    height: 320px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.right-plan>p{
    font-size: 8px;
}
.right-plan>a{
    color: #6B6B6B;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    font-size: x-small;
    margin-top: 10px;
}
.li{
    display: flex;
    align-items: center;
    width: 250px;
    height: 0.1px;
    background-color: black;
    opacity: 0.1;
    text-underline-offset: 15px;
    margin-top: 12px;
}
.p-under{
    width: 100%;
    font-size: xx-small;
}
.plan-benefits{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 20px;
}
#black-section{
    width: 100vw;
    height: 500px;
    background-color: black;
    margin-top: 40px;

}
#black-section>div{
    width: 90vw;
    margin: auto;
    margin-left: 130px;
}
#main-black{
    display: flex;
    gap: 160px;
    
    color: white;
}
#left-black{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
}
#left-black>p{
    font-size: 8px;
}
#left-black>div>button{
    margin-top: 10px;
    padding: 10px 13px;
    border-style: none;
    background-color: #ffffff;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}
#left-black>div>button:hover{
    background-color: #f1f1f1;
    transition: .3s ease;
}
#right-black{
    width: 60%;
}
#right-black>img{
    margin-top: 100px;
    width: 80%;
}
#white-section{
    width: 100vw;
    height: 400px;
    background-color: white;
    margin-top: 60px;

}
#white-section>div{
    width: 90vw;
    margin: auto;
    margin-left: 130px;
}
#main-white{
    display: flex;
    gap: 0px;
    color: black;
}
#left-white{
    width: 70%;
}
#left-white>img{
    width: 560px;  
}
#right-white{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 150px;
    margin-top: 40px;
}
#right-white>p{
    font-size: 9px;
    
}
#right-white>a{
    color: #000000;
    text-decoration:underline;
    text-underline-offset: 10px;
    font-size: 12px;
}
#gallery-section{
    display: flex;
    margin-top: 50px;
    margin-left: 130px;
    flex-wrap: wrap;
}
#gallery-section>div{
    width: 90vw;
    margin: auto;
}
.box{
    width: 350px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 15px; 
}
#main-box{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.box>div>h3{
    font-size: 17px;
    font-weight: 500;
}
.box>div>p{
    font-size: 8px;
}
.box>div>button{
    margin-top: 10px;
    padding: 10px 18px;
    border-style: none;
    background-color: #000000;
    border-radius: 7px;
    color: white;
}
.box>div>button:hover{
    background-color: #131313;
    transition: .3s ease;
}
.box>div>img{
    width: 360px;
    height: 360px;
}
#b-section{
    width: 100vw;
    height: 550px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
#b-section>div{
    background-color: rgb(0, 0, 0);
    width: 80vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
#left-b{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    margin-top: 50px;
}
#left-b>div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#left-b>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
}
#left-b>ul>li>a{
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 8px;
}
#left-b>div>button{
    margin-top: 10px;
    padding: 10px 18px;
    border-style: none;
    background-color: #ffffff;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}
#left-b>p{
    font-size: 8px;
    text-underline-offset: 4px;
}
#left-b>div>p{
    font-size:xx-small;
    margin-top: 25px;
    text-decoration: underline;
    text-underline-offset: 7px;
}
#right-b{
    width: 50%;
}
#right-b>img{
    width: 100%;
    margin-top: 100px;
    margin-right: 0px;
}
#w-section{
    width: 90vw;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin-left: 130px;
    margin-top: 50px;
}
.m{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.m>div{
    width: 75vw;
    margin-left: 30px;
    margin-top: 15px;
}
#w-section>h3{
    font-size: 35px;
    font-weight: 600;
}
.write>p{
    font-size: 8px;
    font-weight: 500;
}
.line{
    display: flex;
    width: 50px;
    height: 0.1px;
    background-color: black;
    opacity: 0.1;
}
#content-section{
    width: 100vw;
    height: 500px;
    background-color: white; 
}
#paragraph{
    width: 80vw;
    margin-left: 130px;
    font-size:xx-small;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#last{
    width: 80vw;
    margin-left: 130px;
    margin-top: 120px;
    font-size: xx-small;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.main-footer{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 120px;
    gap: 60px;
}
#footer-logo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#footer-logo p{
    color: white;
    font-weight: 400;
    font-size: 30px;
}
#footer-logo a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}
.footer-nav-box{
    width: 200px;
}
#footer-nav h4{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
#footer-nav a{
    text-decoration: none;
    color: white;
    font-size: 8px;
}
#footer-nav a:hover{
    color: #dcdcdc;
    transition: .3s ease;
}
#footer-nav ul>li{
    list-style: none;
}
#footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#footer-so{
    display: flex;
    justify-content: space-between;
}
#footer-so ul{
    display: flex;
    gap: 20px;
}
#footer-so ul>li{
    list-style: none;
}
#footer-so a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 5px 8px;
    border-radius: 10px;
}
#footer-so a:hover{
    background-color: #6b6b6b53;
}
#footer-app{
    display: flex;
    gap: 10px;
}
#footer-app img{
    width: 150px;
}
#footer-priv{
    display: flex;
    justify-content: space-between;
}
#footer-priv p{
    color: #6B6B6B;
}
#footer-priv ul{
    display: flex;
    gap: 20px;
}
#footer-priv  a{
    text-decoration: none;
    color: #6B6B6B;
}

#footer-priv a:hover{
    color: white;
    transition: .3s ease;
}

#hero-section-hide{
        display: none;
    }
@media screen and (max-width: 1134px){
    #header-left>ul{
        display: none;
    }
    #header-right>ul{
        display: none;
    }nav>ul{
        display: none;

    }
    #hero-section{
        flex-direction: column;
        margin-left: 80px;
    }
    #hero-section-right{
        display: none;
    }
    #hero-section-hide{
        display: block;
    }
    .bottom-main-plan{
        flex-direction: column;
    }
    .right-plan{
        width: 100%;
        height: 250px;
        padding: 20px;
    }
}
